.btn {
	background-color: rgb(46, 151, 186);
	border: none;
	color: white;
}

.btn:hover {
	background-color: rgb(233, 242, 60);
	color: black;
}

a {
	color: rgb(46, 151, 186);
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

.btn-grid {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 10px;
	margin: 20px 0;
}

.controls {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hide {
	display: none;
}

#question {
	display: grid;
	font-size: 20px;
}
